.form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    margin-bottom: 4px;
    font-weight: 400;
    color: #555;
  }
  
  .form-group input {
    padding: 8px;
    border: none;
    width:60%;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;

  }

  
  